@import url(/src/normilize.css);
html{
  font-family: 'Poppins', sans-serif;
}
.title{
  font-size: 16px;
  color: #000000;
  padding: 10px 0 0 15px;;
}
.subtitle{
  font-size: 36px;
  margin: 0px;
}
.font-16px{
  font-size: 16px;
  font-weight: bold;
  text-wrap: nowrap;
  padding: 10px;
}
.navigation{
  display: none;
}
.orange-circle{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color:#FFA501 ;
}
.about-me{
  font-size: 48px;
  font-weight: bold;
  max-width: 532px;
}
.header{
  background: url(/src/assets/images/Background.jpg);
  // max-height: 800px;
  &-wrapper{
    display: flex;
    justify-content: space-between;
    .socials-wrapper{
      transform: rotate(-90deg);
    }
    .header-content{
      width: 1140px;
      padding: 206px 0;
    }
  }
  .burger{
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 30px 0 0 ;
    &-dash{
      background-color: #151812;
      height: 3px;
      width: 30px;
      &:nth-child(2){
        width: 36px;
      }
    }
  }
}
.contact-me{
  &-wrapper{
    display: flex;
    justify-content: center;
    gap: 68px;
    .background-photo{
      background: url(/src/assets/images/Photo.png);
      width: 400px;
      height: 600px;
    }
  }
  &-about{
    .dash{
      width: 60px;
      height: 2px;
      color: #FFA501;
    }
  }
}